<%= render 'header' %>
<main class="main">
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-3 col-12 offset-0">
      <div class="cardNewEditTask">
          <div class="container-fluid">
            <div class="row">

              <div class="col-6 d-flex align-items-center">
                  <h1>New task</h1>
              </div>
              <div class="col-6 d-flex align-items-center justify-content-end">              
                  <p>
                    <%= link_to 'Back', tasks_path, :class => 'btn btn--visualBlue' %>
                  </p>              
              </div>

            </div><!--row-->


            <div class="row">
              <div class="col-12">


                <%= simple_form_for @task do |f| %>
       <% if current_user.admin %>
          <%= f.input :subject, label: 'Write  subject for task' %>
          <%= f.input :assignee, label: 'Indicate  assignee for this task' %>
        <% end %>



<% if !current_user.admin && @task.status == 'In Rewiew' %>
      <%= f.input :status, hint: '',label: 'The task is on the checking', as: :select, collection: [['0','In Rewiew']], label_method: :second, value_method: :second, selected: :first %>
<% else %>
        <%= f.input :status, hint: 'If you want,can to select required from this list.',label: 'As default will use "ToDo" status', as: :select, collection: @status, label_method: :second, value_method: :second, selected: :first %>
<% end %>   


    <% if current_user.admin %>
      <%= f.input :description, as: :text %>
    <% end %>
    
  
  <%= f.button :submit, :class=>'btn btn-lg btn-block btn-primary'%>
<% end %>


              </div><!--col-12-->
            </div><!--row-->
          </div>
      </div> <!--cardNewEditTask-->   
    </div>
  </div>
</div>
</main>