<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">
      <strong>TASK :</strong>
      <span><%= @task.subject %></span>      
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>      
      <td>
      <strong>ASSIGNEE :</strong>
      <span><%= @task.assignee %></span>      
      </td>
    </tr>
        <tr>      
      <td>
      <strong>STATUS :</strong>
      <span><%= @task.status %></span>
      </td>
    </tr>
        <tr>      
      <td>
      <strong>DESCRIPTION :</strong>
      <span><%= @task.description %></span>
      </td>
    </tr>
    <tr>      
      <td>
      <strong>CREATED BY :</strong>
      <span><%= @task.created_by %></span>      
      </td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
    <p>
    <span><%= link_to 'Show all task', tasks_path, :class => 'btn btn-secondary btn-sm'  %></span>
    <span>
    <%= link_to 'Create new task', new_task_path, :class => 'btn btn-secondary btn-sm'  %>
    </span>
    </p>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
    <h2>Comments</h2>
<% @task.comments.each do |comment| %>
  <p>
    <strong>Author:</strong>
    <%= comment.author %>
  </p>

  <p>
    <strong>Comment:</strong>
<%= comment.body %>
  </p>

<p>
    <%= link_to 'Destroy Comment', [comment.task, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm'%>
</p>
<% end %>


    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
    <%= simple_form_for [@task, @task.comments.build] do |f| %>
<%= f.input :author, :as => :hidden, :input_html => { :value => current_user.email } %>
<%= f.input :body %>

<%= f.submit 'Send', :class => 'btn btn-secondary btn-sm btn-block'%>
<% end %>



    </div>
  </div>
</div>


